name: CI Industrialisation des Tests

# Déclenche le workflow à chaque "push" sur la branche main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code du dépôt
        uses: actions/checkout@v4

      - name: Configurer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installer les dépendances
        run: |
          python -m pip install --upgrade pip
          pip install -r requierements.txt
          # On ajoute pytest s'il n'est pas dans ton fichier
          pip install pytest webdriver-manager 

      - name: Exécuter les tests avec Pytest
        run: |
          # Cette commande cherche tous les fichiers test_*.py
          pytest